.about
  &__background
    background-color $cLightGrey
  &__intro
    display flex
    flex-direction row
    justify-content space-between
    align-items flex-end
    padding s($marginTitle) 0
    width 100%
  &__bloc
    &--one
      width 40%
    &--two
      width 50%
  &__figure
    & img
      width 100%
  &__figure-running
    & img
      width 70%
  &__text
    padding s($paddingBloc,16) 0
    font-family 'opensans'
    color $cBlue
    line-height 1.8
  &__subtitle
    font-family 'montserrat'
    font-size s(30,16)
    font-weight: 700
    position relative
    color $cDarkBlue
  &__figure-running
    margin-bottom s($marginTitle)