.about
  &__end
    display flex
    flex-direction row
    justify-content space-between
    padding s(100,16) 0 s(50,16)
  &__end-bloc
    width 50%
  &__end-bloc + &__end-bloc
    width 40%
  &__title
    font-family 'montserrat'
    font-size s($mainTitle,16)
    font-weight: 600
    position relative
    text-align left
    color $cDarkBlue
    &:after
      content ''
      display block
      background-color $cOrange
      width s(50,40)
      height s(2,40)

//MEDIA QUERIES

//1300PX
@media screen and (max-width: 1300px)
  .about
    &__end
      padding s(100) s(20) s(50)

//1024PX
@media screen and (max-width: 1024px)
  .about
    &__end
      flex-direction column
    &__end-bloc
      width 100%
    &__end-bloc + &__end-bloc
      width 100%
    &__title
      font-size s(35,16)

//768PX
@media screen and (max-width: 768px)
  .about
    &__end-figure
      & img
        width 100%
    &__end
      padding s(50) s(20)
  
//450PX
@media screen and (max-width: 450px)
  .about
    &__title
      font-size s(28,16)