.article-comment
  padding s($marginTitle) 0
  font-family 'opensans'
  background-color $cWhite
  color $cDarkBlue
  &__container
    width 50%
    margin 0 auto
    padding s(50) 0 0
  &__author-bloc
    display flex
    flex-direction row
    margin-bottom s(20)
    align-items center
  &__author
    margin-bottom s(30)
  &__author-infos
    display flex
    flex-direction column
  &__author-figure
    display flex
    flex-direction row
    flex-wrap nowrap
    justify-content space-between
    align-items center
    & img
      border-radius 50%
      display inline-block
      margin-right s(10)
  &__author-name
    font-weight 600
    font-size s(18)
    margin-bottom s(10,18)
  &__date-author
    font-size s(14)
    font-weight 400
  &__text
    line-height 1.6
  &__bloc-container
    margin s(30) 0 0 s(60)
  &__author-line
    position relative
    &:before
      content ''
      position absolute
      left -30px
      height 100%
      width 1px
      background-color $cLightGreyTwo
      display block
  &__author-line + &__author-line
    margin-top s(30)
  &__section
    text-align center
    padding-top s(50)
  &__title-comment
    font-family 'montserrat'
    color $cDarkBlue
    font-weight 700
    font-size s(20)
    margin-bottom s(30,20)
    text-align left
  &__container-author
    position relative
    padding-bottom s(20)
    &:after
      content ''
      position absolute
      bottom 0
      left 0
      right 0
      width s(150)
      margin 0 auto
      height 1px
      background-color $cDarkOrange

//MEDIA QUERIES

//1300PX
@media screen and (max-width:1300px)
  .article-comment
    padding s(50) s(20)

//1024PX
@media screen and (max-width:1024px)
  .article-comment
    &__container
      width 75%

//768PX
@media screen and (max-width:768px)
  .article-comment
    &__container
      width 100%

//450PX
@media screen and (max-width:450px)
  .article-comment
    &__author-name
      font-size s(14)
    &__text
      font-size s(14)

