.article-intro
  &__container
    margin-bottom s(450)
    margin-top s($marginTitle)
    padding 0 0 s(50)
    position relative
  &__figure
    position absolute
    left 0
    right 0
    width 100%
    height s(500)
    background-position top center
    background-size cover
    background-repeat no-repeat
    &:before
      content ''
      position absolute
      background-color alpha($cDarkBlue,0.5)
      top 0
      bottom 0
      left 0
      right 0
      width 100%
      height 100%
  &__bloc
    position absolute
    left 0
    right 0
    text-align center
    top 45%
  &__title
    color $cWhite
    font-family 'montserrat'
    font-size s(50)
    font-weight: 600
  &__author
    margin-top s(20)
    display flex
    flex-direction row
    align-items center
    justify-content center
  &__author-name
    font-family 'opensans'
    color $cWhite
    font-size s(20)
    & span
      font-weight 700
  &__author-figure
    & img
      border-radius 50%
      margin-right s(10)
  &__date
    color $cWhite
    font-family 'opensans'
    font-weight 300
    font-size s(18)
    font-style: italic
    background-color $cDarkOrange
    padding s(10,18) s(30,18)
    position relative
    z-index 20
    display inline-block
    border-radius 0 0 10px 10px

//MEDIA QUERIES

//1300PX
@media screen and (max-width: 1300px)
  .article-intro
    &__figure
      padding 0 s(20)
    &__bloc
      padding 0 s(20)

//768PX
@media screen and (max-width: 768px)
  .article-intro
    &__figure
      height s(400)
    &__container
      margin-bottom s(350)
    &__date
      font-size s(16)
    &__title
      font-size s(40)
    &__author-name
      font-size s(16)
    &__bloc
      top 40%

//450PX
@media screen and (max-width: 450px)
  .article-intro
    &__date
      font-size s(14)
      padding s(10,14) s(20,14)
    &__title
      font-size s(30)
    &__author-name
      font-size s(14)
    &__author
      margin-top s(10)