.intro-competition
  padding s($marginTitle) 0 0
  &__container
    padding s($marginTitle,16) 0
    display flex
    flex-direction row
    align-items center
    position relative
    background-color $cWhite
    margin s(60,16) 0 s(60,16)
    font-family 'opensans'
  &__hidden
    position absolute
    left -9999px
    top -9999px
  &__bloc
    display flex
    background-color $cLightGrey
    width 100%
    &:before
      content ''
      width 78%
      height 50px
      background 0 0
  &__bloc-text
    position relative
    z-index 10
    width 100%
    padding s($paddingBloc) s($paddingBloc) 0 s(45)
  &__bloc-img
    position absolute
    left 0
    width 45%
    height 110%
    background-position center center
    background-size cover
    background-repeat no-repeat
  &__date
    position absolute
    right 0
    background-color $cDarkOrange
    color $cWhite
    padding s(10) s(20)
    border-radius 0 0 0 10px
    font-style italic
    font-weight: 300
  &__bloc-info
    margin-top s(30)
  &__info-content
    padding s(15) 0 s(30)
    font-weight 700
    color $cDarkBlue
    &--place
      &:before
        icon('location')
        color $cDarkOrange
        margin-right s(10)
    &--type
      &:before
        icon('stars')
        color $cDarkOrange
        margin-right s(10)

//MEDIA QUERIES

//1300PX
@media screen and (max-width: 1300px)
  .intro-competition
    &__container
      padding s(50) s(20)

//768PX
@media screen and (max-width: 768px)
  .intro-competition
    &__bloc
      display block
      &:before
        content none
    &__bloc-img
      background-image none
      width 100%
      height auto
      background-position initial
      position initial
    &__hidden
      position static
      width 100%
    &__container
      flex-direction column
      padding 0 s(20)
    &__date
      right 20px
      top 0
    &__bloc-info
      text-align center

//450PX
@media screen and (max-width: 450px)
  .intro-competition
    &__date
      font-size s(14)
      padding s(10,14) s(15,14)
    &__info-content
      font-size s(14)