.resultats-competition
  padding s($marginTitle) 0
  &__link
    font-family 'opensans'
    color $cDarkBlue
    font-weight 300
    display block
    margin-top s(20)
    position relative
    &:before
      icon('attachment')
      color $cOrange
      margin-right s(10)
    &:hover
      &:after
        content ''
        position absolute
        bottom -5px
        left 30px
        width 100px
        height 1px
        background-color $cBlue
        display block

//MEDIA QUERIES

//1300PX
@media screen and (max-width: 1300px)
  .resultats-competition
    padding s(50) s(20)

//1024PX
@media screen and (max-width: 1024px)
  .resultats-competition
    &__link
      text-align center

//450PX
@media screen and (max-width:450px)
  .resultats-competition
    &__link
      font-size s(14)
      line-height 1.5