.listing-compet
  &__container
    column-count 2
    font-family: 'opensans'
    width: 100%
    color $cDarkBlue
    margin-top s($marginTitle)
  &__bloc
    padding s($paddingBloc,16)
    width 100%
    background-color $cWhite
    border-radius 10px
    position relative
    margin-bottom s(15)
    display: inline-block //for column-count

.listing-compet__bloc:hover .button-simple:after,
.listing-compet__bloc:hover .button-simple__size:after
  transform translateX(5px)
  transition .3s ease-in-out
  color $cDarkOrange
