.index_training
  background-color $cLightGrey
.trainings
  &__bloc
    display flex
    flex-wrap wrap
    justify-content flex-start
    margin-top s($marginTitle)
  &__single
    background-color $cWhite
    width 30%
    border-radius 10px
    padding s($paddingBloc)
    color $cDarkBlue
    font-family 'opensans'
    margin-bottom s(50,16)
    margin-right: 5%
    &:nth-child(3n+3)
      margin-right 0
  &__infos
    display flex
    flex-flow row nowrap
    justify-content space-between
  &__place
    font-weight:600
    &:before
      icon('location')
      color $cOrange
      margin-right s(10,16)
  &__intro
    display flex
    flex-flow row nowrap
    justify-content space-between
    font-family 'montserrat'
    margin-bottom s(20,16)
  &__day
    font-size s(25,16)
    font-weight: 300
  &__hour
    font-size s(25,16)
    font-weight: 600
  &__type
    font-weight: 600
    display block
    &--sprint
      &:before
        icon('course')
        color $cOrange
        font-size s(18)
        margin-right s(10,18)
  &__text
    font-weight: 400
    line-height 1.7
    margin s(20,16) 0
    min-height s(135,16)
  &__trainers
    display flex
    flex-flow row
    align-items center
  &__figure
    margin-right s(10)
    & img
      border-radius 50%
  &__trainer-name
    font-size s(18,16)
    font-weight: 700
    transition .3s ease-in-out
    &:hover
      color $cDarkOrange
      transition .3s ease-in-out

//MEDIA QUERIES

//1300PX
@media screen and (max-width:1300px)
  .trainings
    padding 0 s(20)

//1200PX
@media screen and (max-width:1200px)
  .trainings
    &__hour
      font-size s(21,16)
    &__day
      font-size s(21,16)

//1024PX
@media screen and (max-width:1024px)
  .trainings
    &__hour
      font-size s(25,16)
    &__day
      font-size s(25,16)
    &__single
      width 47.5%
      margin-right 5%
      &:nth-child(3n+3)
        margin-right 5%
      &:nth-child(2n+2)
        margin-right 0

//768PX
@media screen and (max-width:768px)
  .trainings
    &__single
      width 100%
      margin-right 0
    &__text
      min-height 0

//450PX
@media screen and (max-width:450px)
  .trainings
    &__single
      padding s(20)
    &__hour
      font-size s(21,16)
    &__day
      font-size s(21,16)
    &__text
      font-size s(14)
    &__type
      font-size s(14)
    &__place
      font-size s(14)
    &__trainer-name
      font-size s(16)
    &__figure
      & img
        width s(20)

//400PX
@media screen and (max-width:400px)
  .trainings
    &__hour
      font-size s(20,16)
    &__type
      font-size s(20,16)


