.athlete-trophies
  padding s($marginTitle) 0
  &__container
    margin-top s($paddingBloc)
    font-family 'opensans'
    display flex
    flex-flow row wrap
    justify-content space-between
  &__bloc
    color $cBlue
    font-size s(20,16)
    font-weight 300
    width 47.5%
    margin-bottom s($paddingBloc,20)
  &__date
    font-weight 700
    &:before
      icon('trophy')
      color $cOrange
      margin-right s(10,20)

//MEDIA QUERIES

//1300PX
@media screen and (max-width: 1300px)
  .athlete-trophies
    padding s(50) s(20)

//1024PX
@media screen and (max-width: 1024px)
  .athlete-trophies
    &__bloc
      width 100%
    &__container
      flex-flow column wrap
      text-align center

//450PX
@media screen and (max-width: 450px)
  .athlete-trophies
    &__date
      font-size s(14)
    &__bloc
      line-height 1.5
      & span
        font-size s(14)