.athlete-intro
  background-color $cLightGrey
  font-family 'opensans'
  margin-top s(100)
  &__container
    display: flex
    flex-direction row
  &__bloc
    margin-left s($paddingBloc)
    width 73%
    color $cBlue
  &__bloc-discipline,
  &__bloc-division
    display flex
    flex-flow row wrap
  &__title-infos
    font-family 'montserrat'
    font-size s(25,16)
    font-weight: 600
    position relative
    text-align left
    color $cDarkBlue
    &:after
      content ''
      display block
      background-color $cOrange
      width s(50,40)
      height s(2,40)
      position absolute
  &__figure
    position relative
    top s(-50)
    width 27%
    & img
      border-radius 10px
  &__name
    font-family 'montserrat'
    font-size s(40,16)
    font-weight: 600
    color $cDarkBlue
  &__division
    background-color $cDarkOrange
    text-transform: uppercase
    color $cWhite
    font-style italic
    padding s(10,16) s(20,16)
    font-weight: 300
    border-radius 10px
    margin-left s(30,16)
  &__title
    display flex
    flex-direction row
    align-items center
    margin s($paddingBloc) 0
  &__content-bloc
    margin-top s($paddingBloc)
    display flex
    flex-direction row
    justify-content flex-start
    flex-wrap wrap
  &__content-title
    display block
    font-size s(18,16)
    font-weight: 300
    margin-bottom s(10,18)
  &__content-text
    font-weight 700
    transition .3s ease-in-out
    &--discipline
      margin 0 0 s(5,16) s(5,16)
      &:first-child
        margin-left 0
      &:nth-child(3n+4)
        margin-left 0
      &:after
        content ','
      &:last-child
        &:after
          content none
    &--division
      margin 0 0 s(5,16) s(5,16)
      &:first-child
        margin-left 0
      &:nth-child(3n+3)
        margin-left 0
      &:after
        content ','
      &:last-child
        &:after
          content none
  &__content
    width 25%
    margin-bottom s(20,16)
    &--width
      width 100%
  &__trainer
    display flex
    flex-direction row
    align-items center
  &__trainer-link + &__trainer-link
    margin-left s(20,16)
  &__trainer-figure
    & img
      border-radius 50%
      margin-right s(10,16)
  &__bloc-athlete
    display flex
    flex-flow row wrap


.athlete-intro__trainer-link:hover .athlete-intro__content-text
  color $cDarkOrange
  transition .3s ease-in-out

//MEDIA QUERIES

//1300PX
@media screen and (max-width:1300px)
  .athlete-intro
    padding 0 s(20)

//1024PX
@media screen and (max-width:1024px)
  .athlete-intro
    &__content-title
      font-size s(16)
    &__bloc-discipline
      font-size s(14)
    &__content-text
      font-size s(14)
    &__name
      font-size s(35,16)
    &__division
      font-size s(14)
    &__title-infos
      font-size s(22)

//768PX
@media screen and (max-width:768px)
  .athlete-intro
    &__container
      flex-direction column
    &__bloc
      margin-left 0
      width 100%
    &__figure
      width 100%
      text-align center
      & img
        width 60%
    &__name
      margin-bottom s(20,35)
    &__title
      flex-direction column
      margin 0 0 s(30)
    &__title-infos
      text-align center
      &:after
        left 0
        right 0
        margin s(5) auto
    &__content
      width 35%
      text-align center
      &--width
        width 100%
    &__bloc-discipline
      justify-content center
    &__bloc-athlete
      justify-content center
    &__content-bloc
      justify-content center
    &__division
      margin-left 0

//600PX
@media screen and (max-width:600px)
  .athlete-intro
    &__figure
      & img
        width 75%
    &__content
      width 100%
    &__bloc-athlete
      flex-direction column
      justify-content center
      align-items center
    &__trainer-link + &__trainer-link
      margin-left 0
      margin-top s(10)
      display block

//450PX
@media screen and (max-width:450px)
  .athlete-intro
    &__figure
      & img
        width 90%
    &__name
      font-size s(30)
      text-align center