/* ******************
 * Base
   ******************* */
html {
  overflow-x: hidden;
}
html * {
  box-sizing: border-box;
  font-family: 'opensans';
}
a {
  text-decoration: none;
  color: inherit;
}
form input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: 0;
  outline: none;
}
img {
  max-width: 100%;
  height: auto;
}
.hidden {
  position: absolute;
  top: -9999px;
  left: -9999px;
}
.background-home {
  background: url("/img/background-home.jpg") no-repeat top center/cover;
  padding-bottom: 150px;
}
/* ******************
 * Settings
   ******************* */
@font-face {
  font-family: 'iconfont';
  src: url(/fonts/icomoon.eot?67a06b9a5a9bf86a9a864c9b57fed451);
  src: url(/fonts/icomoon.eot?67a06b9a5a9bf86a9a864c9b57fed451#iefix) format('embedded-opentype'), url(/fonts/icomoon.ttf?2841839d9e83ef62efb2758aa04cec83) format('truetype'), url(/fonts/icomoon.woff?31ef0104f76a59a55c633944c2c5ebc3) format('woff'), url(/fonts/icomoon.svg?90d3ea81fdf088c08e1f191c99f94cab#icomoon) format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'montserrat';
  src: url(/fonts/montserrat-light-webfont.woff2?ac1b634f790d2b9d1b23db1b90a376c7) format('woff2'), url(/fonts/montserrat-light-webfont.woff?f55e8f8ade113e46e1bed48683ae0bb4) format('woff');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'montserrat';
  src: url(/fonts/montserrat-regular-webfont.woff2?85eff112eb75c69cab02c571c934c1dc) format('woff2'), url(/fonts/montserrat-regular-webfont.woff?15d56660f3bcf0c45e7d9583499c53be) format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'montserrat';
  src: url(/fonts/montserrat-semibold-webfont.woff2?0c287ddd3bf08d672452f12a8b4f74df) format('woff2'), url(/fonts/montserrat-semibold-webfont.woff?ae96639db775f44526f066e20e4f37b0) format('woff');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'montserrat';
  src: url(/fonts/montserrat-bold-webfont.woff2?8b3bc2c96381f09730df8a7047db7679) format('woff2'), url(/fonts/montserrat-bold-webfont.woff?2c0cb90d1b6d76f11bd1e24f12829376) format('woff');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'montserrat';
  src: url(/fonts/montserrat-extrabold-webfont.woff2?63991fc3ebf7af623c28c40b8153862e) format('woff2'), url(/fonts/montserrat-extrabold-webfont.woff?ac94f6a5ee90fe0d2015100326c7da89) format('woff');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'opensans';
  src: url(/fonts/opensans-light-webfont.woff2?5621b89fdf14f0ac93c5e7803a89c8c3) format('woff2'), url(/fonts/opensans-light-webfont.woff?4d6a63ece51112909676dae89987a97f) format('woff');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'opensans';
  src: url(/fonts/opensans-regular-webfont.woff2?d76695a01ae2e5b16ee2499a2a465fd7) format('woff2'), url(/fonts/opensans-regular-webfont.woff?2b12366bee5634ceeb377035f36add55) format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'opensans';
  src: url(/fonts/opensans-semibold-webfont.woff2?db96c0acfb5ea5047c7e64ed9cd2ea3f) format('woff2'), url(/fonts/opensans-semibold-webfont.woff?3449cffc2d3c6cfa3121284d578fcdf7) format('woff');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'opensans';
  src: url(/fonts/opensans-bold-webfont.woff2?9cdbdb5c364d655c9d93240fdd97f9b5) format('woff2'), url(/fonts/opensans-bold-webfont.woff?10ce3a572dec994874bfd70c55fdf07b) format('woff');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'opensans';
  src: url(/fonts/opensans-extrabold-webfont.woff2?d4b821c0716a5696d67f300edc1f7640) format('woff2'), url(/fonts/opensans-extrabold-webfont.woff?14ee55a1f30bdf7461818cffef23ff1e) format('woff');
  font-weight: 800;
  font-style: normal;
}
/* *****************
 * Tools
   ******************* */
/* ******************
 * Generic
   ******************* */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
}
input[type="submit"],
input[type="reset"],
input[type="button"],
button {
  background: none;
  border: 0;
  color: inherit;
/* cursor: default; */
  font: inherit;
  line-height: normal;
  overflow: visible;
  padding: 0;
  -webkit-appearance: button; /* for input */
  -webkit-user-select: none; /* for button */
  -moz-user-select: none;
  -ms-user-select: none;
  outline: none;
  border-radius: 0;
}
input::-moz-focus-inner,
button::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input[type="search"] {
  -webkit-appearance: textfield;
}
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
/* ******************
 * Components
   ******************* */
/*****HOME*****/
.header-home {
  background: url("/img/Background.jpg") no-repeat top center/cover;
  background-position: 50% 50%;
  height: 46em;
  position: relative;
  z-index: 5;
}
.header-home__bloc {
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  right: 0;
  left: 0;
  top: 40%;
}
.header-home__title {
  font-family: 'montserrat';
  font-size: 2.5em;
  font-weight: 700;
}
.header-home__text {
  font-family: 'opensans';
  max-width: 35%;
  line-height: 1.5;
  text-align: center;
  margin: 1.25em 0 3.125em;
}
.header {
  height: 170px;
  background-position: 50% 38%;
}
.home-athletes {
  padding: 3.125em 0;
  text-align: center;
}
.home-athletes__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 3.125em 0;
}
.home-athletes__bloc {
  position: relative;
}
.home-athletes__figure {
  position: relative;
}
.home-athletes__figure:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(52,73,94,0.5);
  border-radius: 10px;
}
.home-athletes__figure img {
  border-radius: 10px;
  display: block;
}
.home-athletes__infos {
  position: absolute;
  bottom: 10%;
  left: 0;
  color: #fff;
  text-align: left;
  z-index: 20;
}
.home-athletes__infos-title {
  font-family: 'montserrat';
  font-size: 1.875em;
  font-weight: 600;
  line-height: 1.3;
  padding-left: 1em;
  margin-bottom: 0.666666666666667em;
}
.home-athletes__infos-title span {
  text-transform: uppercase;
  display: block;
}
.home-athletes__disciplines {
  font-family: 'opensans';
  font-size: 1.125em;
  font-style: italic;
  font-weight: 300;
  background-color: #fe712a;
  padding: 0.555555555555556em 1.666666666666667em;
  border-radius: 0 10px 10px 0;
}
.home-athletes__link {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: block;
  transition: 0.3s 0s ease-in-out;
  text-align: center;
}
.home-athletes__link:hover {
  background-color: rgba(52,73,94,0.8);
  border-radius: 10px;
  transition: 0.3s ease-in-out;
}
.home-athletes__link:before {
  font-family: 'iconfont';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\E900";
  color: #fff;
  font-size: 1.5625em;
  position: absolute;
  top: 50%;
  opacity: 0;
  -webkit-transform: translateY(-30px);
          transform: translateY(-30px);
  transition: 0.3s ease-in-out;
}
.home-athletes__link:hover.home-athletes__link:before {
  transition: 0.3s ease-in-out;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  opacity: 1;
}
.home-athletes__link:hover.home-athletes__figure:before {
  transition: 0.3s ease-in-out;
}
.compet-home {
  padding: 3.125em 0;
}
.compet-home__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: 'opensans';
  width: 100%;
  color: #2c3e50;
  margin-top: 3.125em;
}
.compet-home__bloc-left {
  padding: 1.875em;
  width: 49%;
  background-color: #fff;
  border-radius: 10px;
  position: relative;
}
.compet-home__bloc-right {
  width: 49%;
}
.compet-home__bloc {
  background-color: #fff;
  padding: 1.875em;
  border-radius: 10px;
  margin-bottom: 1.25em;
  position: relative;
}
.compet-home__link {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: block;
}
.compet-home__left-flex,
.compet-home__right-flex {
  display: flex;
  flex-direction: row;
}
.compet-home__left-date {
  font-size: 3.125em;
  font-weight: 700;
  background-color: #fa9926;
  padding: 0.4em 0.6em;
  color: #fff;
  font-family: 'opensans';
  border-radius: 10px;
  text-align: center;
  margin: 0 0.2em 0.4em 0;
}
.compet-home__left-date span {
  text-transform: uppercase;
  display: block;
  font-size: 0.5em;
}
.compet-home__left-title {
  font-family: 'montserrat';
  font-size: 1.5625em;
  font-weight: 700;
  margin-bottom: 0.8em;
}
.compet-home__left-location:before {
  font-family: 'iconfont';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\E901";
  color: #fe712a;
  margin-right: 0.625em;
}
.compet-home__left-text {
  line-height: 1.6;
  margin-bottom: 1.25em;
}
.compet-home__bloc-date {
  font-size: 1.875em;
  font-weight: 700;
  background-color: #fa9926;
  padding: 0.5em 0.666666666666667em;
  color: #fff;
  font-family: 'opensans';
  border-radius: 10px;
  text-align: center;
  margin: 0 0.333333333333333em 0.666666666666667em 0;
}
.compet-home__bloc-date span {
  text-transform: uppercase;
  display: block;
  font-size: 0.533333333333333em;
}
.compet-home__bloc-title {
  font-family: 'montserrat';
  font-size: 1.25em;
  font-weight: 700;
  margin-bottom: 0.75em;
}
.compet-home__bloc-location:before {
  font-family: 'iconfont';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\E901";
  color: #fe712a;
  margin-right: 0.625em;
}
.compet-home__bloc-left:hover .button-simple:after,
.compet-home__bloc:hover .button-simple__size:after {
  -webkit-transform: translateX(5px);
          transform: translateX(5px);
  transition: 0.3s ease-in-out;
}
.trainee-home {
  background-color: #fa9926;
  padding: 3.125em 0 0;
  -webkit-transform: skewY(-5deg);
          transform: skewY(-5deg);
  position: relative;
  top: -83px;
  z-index: 30;
}
.trainee-home__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  -webkit-transform: skewY(5deg);
          transform: skewY(5deg);
  position: relative;
  top: 50px;
}
.trainee-home__text {
  color: #fff;
  line-height: 1.6;
  font-weight: 400;
  font-family: 'opensans';
  margin: 1.875em 0;
}
.trainee-home__bloc {
  width: 50%;
  margin-right: 10%;
}
.news-home {
  background-color: #f4f4f4;
  margin: -9.375em 0 -17.8125em;
  padding: 13.75em 0 11.625em;
  text-align: center;
}
.news-home__container {
  margin: 3.125em 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.news-home__bloc {
  font-family: 'opensans';
  width: 47.5%;
  position: relative;
}
.news-home__link {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: block;
}
.news-home__figure {
  position: relative;
}
.news-home__figure:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(52,73,94,0);
  border-radius: 10px 10px 0 0;
  transition: 0.3s ease-in-out;
}
.news-home__bloc-figure:before {
  font-family: 'iconfont';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\E900";
  color: #fff;
  position: absolute;
  bottom: 0;
  top: 50%;
  font-size: 1.5625em;
  -webkit-transform: translateY(-30px);
          transform: translateY(-30px);
  transition: 0.3s ease-in-out;
  opacity: 0;
}
.news-home__bloc-figure img {
  display: block;
  width: 100%;
  border-radius: 10px 10px 0 0;
}
.news-home__bloc-figure img:before {
  font-family: 'iconfont';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\E900";
  color: #fff;
  position: absolute;
  top: 50%;
}
.news-home__date {
  position: absolute;
  top: 0;
  right: 0;
  color: #fff;
  font-weight: 300;
  font-style: italic;
  background-color: #fe712a;
  padding: 0.625em 1.25em;
  border-radius: 0 10px 0 0;
}
.news-home__sub-bloc {
  padding: 1.875em;
  background-color: #fff;
  border-radius: 0 0 10px 10px;
  color: #2c3e50;
  text-align: left;
}
.news-home__author {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 1.25em;
}
.news-home__author-name {
  font-family: 'montserrat';
  font-weight: 400;
}
.news-home__author-name span {
  font-weight: 700;
}
.news-home__author-figure img {
  border-radius: 50%;
  margin-right: 0.625em;
}
.news-home__title {
  font-family: 'montserrat';
  font-size: 1.5625em;
  font-weight: 700;
  margin-bottom: 1.2em;
}
.news-home__text {
  line-height: 1.6;
  margin-bottom: 1.875em;
}
.news-home__comments {
  font-weight: 700;
  vertical-align: top;
}
.news-home__comments:before {
  font-family: 'iconfont';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\E909";
  color: #fa9926;
  font-size: 1.125em;
  margin-right: 0.555555555555556em;
}
.news-home__bloc:hover .news-home__bloc-figure:before {
  transition: 0.3s ease-in-out;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  opacity: 1;
}
.news-home__bloc:hover .news-home__figure:before {
  transition: 0.3s ease-in-out;
  background-color: rgba(52,73,94,0.5);
}
/*****SINGLE*****/
/*****ATHLETE*****/
.athlete-intro {
  background-color: #f4f4f4;
  font-family: 'opensans';
  margin-top: 6.25em;
}
.athlete-intro__container {
  display: flex;
  flex-direction: row;
}
.athlete-intro__bloc {
  margin-left: 1.875em;
  width: 73%;
  color: #34495e;
}
.athlete-intro__figure {
  position: relative;
  top: -3.125em;
  width: 27%;
}
.athlete-intro__figure img {
  border-radius: 10px;
}
.athlete-intro__name {
  font-family: 'montserrat';
  font-size: 2.5em;
  font-weight: 600;
  color: #2c3e50;
}
.athlete-intro__division {
  background-color: #fe712a;
  text-transform: uppercase;
  color: #fff;
  font-style: italic;
  padding: 0.625em 1.25em;
  font-weight: 300;
  border-radius: 10px;
  margin-left: 1.875em;
}
.athlete-intro__title {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 1.875em 0;
}
.athlete-intro__content-bloc {
  margin-top: 1.875em;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.athlete-intro__content-title {
  display: block;
  font-size: 1.125em;
  font-weight: 300;
  margin-bottom: 0.555555555555556em;
}
.athlete-intro__content-text {
  font-size: 1.125em;
  font-weight: 700;
  transition: 0.3s ease-in-out;
}
.athlete-intro__content {
  width: 33.3333%;
  margin-bottom: 1.875em;
}
.athlete-intro__trainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.athlete-intro__trainer-figure img {
  border-radius: 50%;
  margin-right: 0.625em;
}
.athlete-intro__trainer-link:hover .athlete-intro__content-text {
  color: #fe712a;
  transition: 0.3s ease-in-out;
}
.athlete-record {
  padding-top: 3.125em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.athlete-record__bloc {
  width: 47.5%;
}
.athlete-record__table {
  margin-top: 1.875em;
  font-family: 'opensans';
  color: #34495e;
}
.athlete-record__table-title {
  font-weight: 700;
  font-size: 1.125em;
  text-align: left;
  padding: 0.555555555555556em 1.111111111111111em;
}
.athlete-record__table-row td {
  padding: 0.625em 1.25em;
  font-weight: 300;
  text-align: center;
}
.athlete-record__table-tbody tr:nth-child(odd) {
  background-color: rgba(250,153,38,0.3);
}
.athlete-gallery {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin-top: 3.125em;
}
.athlete-trophies {
  padding-top: 3.125em;
}
.athlete-trophies__container {
  margin-top: 1.875em;
  font-family: 'opensans';
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.athlete-trophies__bloc {
  color: #34495e;
  font-size: 1.25em;
  font-weight: 300;
  width: 47.5%;
  margin-bottom: 1.5em;
}
.athlete-trophies__date {
  font-weight: 700;
}
.athlete-trophies__date:before {
  font-family: 'iconfont';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\E904";
  color: #fa9926;
  margin-right: 0.5em;
}
.nav__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 3.125em;
}
.menu__item {
  display: inline-block;
  font-family: 'opensans';
  color: #fff;
}
.menu__item + .menu__item {
  margin-left: 3.125em;
}
.button {
  display: inline-flex;
  font-family: 'opensans';
}
.button-white__left {
  background-color: #fff;
  text-transform: uppercase;
  color: #2c3e50;
  font-weight: 800;
  padding: 0.9375em 2.5em;
  border-radius: 10px 0 0 10px;
  letter-spacing: 0.5px;
  transition: 0.5s ease-in-out;
}
.button-white__right {
  background-color: #ced6e0;
  border-radius: 0 10px 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0.9375em;
  color: #2c3e50;
  transition: 0.5s ease-in-out;
}
.button-white__right:before {
  font-family: 'iconfont';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\E902";
  font-size: 0.9375em;
  transition: 0.5s ease-in-out;
}
.button:hover .button-white__left {
  background-color: #ced6e0;
  transition: 0.5s ease-in-out;
}
.button:hover .button-white__right {
  background-color: #fff;
  transition: 0.5s ease-in-out;
}
.button:hover .button-white__right:before {
  -webkit-transform: translateX(5px);
          transform: translateX(5px);
  transition: 0.5s ease-in-out;
}
.button-blue__left {
  background-color: #34495e;
  text-transform: uppercase;
  color: #fff;
  font-weight: 800;
  padding: 0.9375em 2.5em;
  border-radius: 10px 0 0 10px;
  letter-spacing: 0.5px;
  transition: 0.5s ease-in-out;
}
.button-blue__right {
  background-color: #2c3e50;
  border-radius: 0 10px 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0.9375em;
  color: #fff;
  transition: 0.5s ease-in-out;
}
.button-blue__right:before {
  font-family: 'iconfont';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\E902";
  transition: 0.5s ease-in-out;
}
.button:hover .button-blue__left {
  background-color: #2c3e50;
  transition: 0.5s ease-in-out;
}
.button:hover .button-blue__right {
  background-color: #34495e;
  transition: 0.5s ease-in-out;
}
.button:hover .button-blue__right:before {
  -webkit-transform: translateX(5px);
          transform: translateX(5px);
  transition: 0.5s ease-in-out;
}
.button-orange__left {
  background-color: #fa9926;
  text-transform: uppercase;
  color: #fff;
  font-weight: 800;
  padding: 0.9375em 2.5em;
  border-radius: 10px 0 0 10px;
  letter-spacing: 0.5px;
  transition: 0.5s ease-in-out;
}
.button-orange__right {
  background-color: #fe712a;
  border-radius: 0 10px 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0.9375em;
  color: #fff;
  transition: 0.5s ease-in-out;
}
.button-orange__right:before {
  font-family: 'iconfont';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\E907";
  transition: 0.5s ease-in-out;
}
.button:hover .button-orange__left {
  background-color: #fe712a;
  transition: 0.5s ease-in-out;
}
.button:hover .button-orange__right {
  background-color: #fa9926;
  transition: 0.5s ease-in-out;
}
.button:hover .button-orange__right:before {
  -webkit-transform: translateX(5px);
          transform: translateX(5px);
  transition: 0.5s ease-in-out;
}
.button-simple {
  font-size: 1.5625em;
  font-weight: 700;
}
.button-simple:after {
  font-family: 'iconfont';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\E90A";
  font-size: 0.72em;
  margin-left: 0.555555555555556em;
  display: inline-block;
  transition: 0.3s ease-in-out;
}
.button-simple__size {
  font-size: 1.25em;
  font-weight: 700;
}
.button-simple__size:after {
  font-family: 'iconfont';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\E90A";
  font-size: 0.7em;
  margin-left: 0.714285714285714em;
  display: inline-block;
  transition: 0.3s ease-in-out;
}
.button-float {
  float: right;
}
.title {
  font-family: 'montserrat';
  font-size: 2.5em;
  font-weight: 600;
  position: relative;
  text-align: left;
}
.title__blue {
  color: #2c3e50;
}
.title__white {
  color: #fff;
}
.title__center {
  text-align: center;
}
.title__center:after {
  content: '';
  display: block;
  background-color: #fa9926;
  width: 1.25em;
  height: 0.05em;
  margin: 0 auto;
}
.title__left:after {
  content: '';
  display: block;
  background-color: #fa9926;
  width: 1.25em;
  height: 0.05em;
}
.title__left-white:after {
  content: '';
  display: block;
  background-color: #fff;
  width: 1.25em;
  height: 0.05em;
}
.title-size {
  font-size: 1.5625em;
}
.wrap {
  max-width: 77.5em;
  margin: 0 auto;
}
.footer {
  margin-top: 9.375em;
  position: relative;
  overflow: hidden;
  height: 479px;
  color: #fff;
  font-family: 'opensans';
}
.footer__bloc-container {
  position: relative;
  z-index: 30;
  padding: 11.375em 0 0;
}
.footer__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 3.125em;
}
.footer__bg {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fa9926;
  -webkit-transform: skewY(-5deg);
          transform: skewY(-5deg);
  -webkit-transform-origin: top right;
          transform-origin: top right;
}
.footer__title {
  font-size: 1.875em;
  font-family: 'montserrat';
  font-weight: 700;
  margin-bottom: 1em;
}
.footer__title:after {
  content: '';
  display: block;
  background-color: #fff;
  width: 1em;
  height: 0.066666666666667em;
}
.footer__contact-item {
  text-transform: uppercase;
  font-weight: 700;
  line-height: 2;
}
.footer__contact-item span {
  text-transform: lowercase;
  font-weight: 400;
}
.footer__copyright {
  text-align: center;
  border-top: 1px solid #fff;
  padding: 1.25em 0;
}
.footer__copyright a {
  font-weight: 700;
}
.footer__results-item {
  line-height: 2;
}
.footer__results-link {
  position: relative;
  display: inline-block;
}
.footer__results-link:before {
  content: '';
  position: absolute;
  bottom: 0;
  right: 50%;
  left: 0;
  top: 0;
  height: 2px;
  background-color: #fff;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
.footer__results-link:after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  left: 50%;
  height: 2px;
  background-color: #fff;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: bottom right;
          transform-origin: bottom right;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
.footer__results-link:hover:before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}
.footer__results-link:hover:after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}
.footer__social {
  display: flex;
}
.index_athletes {
  background-color: #f4f4f4;
}
.intro {
  padding: 3.125em 0;
  display: flex;
  position: relative;
  background-color: #fff;
  margin-bottom: 3.125em;
}
.intro__bloc {
  display: flex;
}
.intro__bloc:before {
  content: '';
  width: 78%;
  height: 50px;
  background: 0 0;
}
.intro__bloc-text {
  position: relative;
  z-index: 10;
  width: 100%;
  margin-left: 6.25em;
}
.intro__bloc-img {
  position: absolute;
  left: 0;
  width: 45%;
  height: 100%;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
.intro__text {
  padding: 1.875em 0;
  font-family: 'opensans';
  color: #34495e;
  line-height: 1.6;
}
.switcher {
  font-family: 'opensans';
  color: #2c3e50;
  padding-top: 3.125em;
}
.switcher__form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.switcher__container {
  display: flex;
  flex-direction: row;
}
.switcher__label {
  font-size: 1.125em;
  font-weight: 600;
  display: block;
  margin-bottom: 0.555555555555556em;
}
.switcher__select {
  border-radius: 10px;
  padding: 0.625em 1.25em;
}
.switcher__bloc + .switcher__bloc {
  margin-left: 3.125em;
}
.breadcrumb {
  margin-top: 3.125em;
}
.breadcrumb__item {
  text-transform: uppercase;
  color: #2c3e50;
  font-family: 'montserrat';
  font-weight: 600;
}
.breadcrumb__item:before {
  font-family: 'iconfont';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\E902";
  display: inline-block;
  font-size: 0.875em;
  margin-right: 0.714285714285714em;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  transition: 0.3s ease-in-out;
}
.breadcrumb__item:hover:before {
  -webkit-transform: translateX(-5px) rotate(180deg);
          transform: translateX(-5px) rotate(180deg);
  transition: 0.3s ease-in-out;
}
