.breadcrumb
  margin-top s($marginTitle,16)
  &__item
    text-transform uppercase
    color $cDarkBlue
    font-family 'montserrat'
    font-weight: 600
    &:before
      icon('arrowRight')
      display inline-block
      font-size s(14,16)
      margin-right s(10,14)
      transform rotate(180deg)
      transition 0.3s ease-in-out
    &:hover
      &:before
        transform translateX(-5px) rotate(180deg)
        transition 0.3s ease-in-out
        color $cDarkOrange

//MEDIA QUERIES

//1300PX
@media screen and (max-width: 1300px)
  .breadcrumb
    padding 0 s(20)

//450PX
@media screen and (max-width: 450px)
  .breadcrumb
    &__item
      font-size s(12)