.button
  display inline-flex
  font-family 'opensans'

 /*****WHITE*****/
.button-white
  &__left
    background-color $cWhite
    text-transform: uppercase
    color $cDarkBlue
    font-weight: 800
    padding s($paddingSmallButton, 16) s($paddingLargeButton,16)
    border-radius 10px 0 0 10px
    letter-spacing 0.5px
    transition .5s ease-in-out
  &__right
    background-color $cLightGreyTwo
    border-radius 0 10px 10px 0
    display flex
    justify-content center
    align-items center
    padding 0 s($paddingSmallButton,16)
    color $cDarkBlue
    transition .5s ease-in-out
    &:before
      icon('arrowRight')
      font-size s(15,16)
      transition .5s ease-in-out
  &__right-document
    background-color $cLightGreyTwo
    border-radius 0 10px 10px 0
    display flex
    justify-content center
    align-items center
    padding 0 s($paddingSmallButton,16)
    color $cDarkBlue
    transition .5s ease-in-out
    &:before
      icon('document')
      font-size s(17,16)
      transition .5s ease-in-out

.button:hover .button-white__left
  background-color $cLightGreyTwo
  transition .5s ease-in-out

.button:hover .button-white__right,
.button:hover .button-white__right-document
  background-color $cWhite
  transition .5s ease-in-out

.button:hover .button-white__right:before,
.button:hover .button-white__right-document:before
  transform translateX(5px)
  transition .5s ease-in-out

/*****BLUE*****/
.button-blue
  &__left
    background-color $cBlue
    text-transform: uppercase
    color $cWhite
    font-weight: 800
    padding s($paddingSmallButton, 16) s($paddingLargeButton,16)
    border-radius 10px 0 0 10px
    letter-spacing 0.5px
    transition .5s ease-in-out
  &__right
    background-color $cDarkBlue
    border-radius 0 10px 10px 0
    display flex
    justify-content center
    align-items center
    padding 0 s($paddingSmallButton,16)
    color $cWhite
    transition .5s ease-in-out
    &:before
      icon('arrowRight')
      transition .5s ease-in-out

.button:hover .button-blue__left
  background-color $cDarkBlue
  transition .5s ease-in-out

.button:hover .button-blue__right
  background-color $cBlue
  transition .5s ease-in-out

.button:hover .button-blue__right:before
  transform translateX(5px)
  transition .5s ease-in-out

/*****ORANGE*****/
.button-orange
  &__left
    background-color $cOrange
    text-transform: uppercase
    color $cWhite
    font-weight: 800
    padding s($paddingSmallButton, 16) s($paddingLargeButton,16)
    border-radius 10px 0 0 10px
    letter-spacing 0.5px
    transition .5s ease-in-out
  &__right
    background-color $cDarkOrange
    border-radius 0 10px 10px 0
    display flex
    justify-content center
    align-items center
    padding 0 s($paddingSmallButton,16)
    color $cWhite
    transition .5s ease-in-out
    height s(53)
    &:before
      icon('search')
      transition .5s ease-in-out
  &__right-send
    background-color $cDarkOrange
    border-radius 0 10px 10px 0
    display flex
    justify-content center
    align-items center
    padding 0 s($paddingSmallButton,16)
    color $cWhite
    transition .5s ease-in-out
    /*PROVISOIRE*/
    height s(53)
    &:before
      icon('send')
      transition .5s ease-in-out


.button:hover .button-orange__left
  background-color $cDarkOrange
  transition .5s ease-in-out

.button:hover .button-orange__right,
.button:hover .button-orange__right-send
  background-color $cOrange
  transition .5s ease-in-out

.button:hover .button-orange__right:before,
.button:hover .button-orange__right-send:before
  transform translateX(5px)
  transition .5s ease-in-out


.button-simple
  font-size s(25,16)
  font-weight 700
  color $cDarkBlue
  &:after
    icon('arrowTwo')
    font-size s(18,25)
    margin-left s(10,18)
    display inline-block
    transition .3s ease-in-out
  &__size
    font-size s(20,16)
    font-weight 700
    &:after
      icon('arrowTwo')
      font-size s(14,20)
      margin-left s(10,14)
      display inline-block
      transition .3s ease-in-out

.button-float
  float right

.button:hover .trainee-home__figure
  position relative
  left 50px

//MEDIA QUERIES

//1024PX
@media screen and (max-width:1024px)
  .button-float
    float none

//600PX
@media screen and (max-width:600px)
  .button-simple
    font-size s(22)
    &__size
      font-size s(18)

//475PX
@media screen and (max-width:475px)
  .button-white
    &__left
      font-size s(14)
      padding s($paddingSmallButton, 16) s(20,16)
  .button-blue
    &__left
      font-size s(14)
      padding s($paddingSmallButton, 16) s(20,16)
  .button-orange
    &__left
      font-size s(14)
      padding s($paddingSmallButton, 16) s(20,16)
    &__right
      height s(46)
    &__right-send
      height s(46)


//400PX
@media screen and (max-width:400px)
  .button-simple
    font-size s(20)
    &__size
      font-size s(16)
  .button-blue
    &__left
      font-size s(12)
  .button-orange
    &__left
      font-size s(12)
    &__right
      height s(40)
    &__right-send
      height s(40)

//320PX
@media screen and (max-width:320px)
  .button-blue
    &__left
      padding s(16,14)
  .button-white
    &__left
      padding s(16,14)


