.cta-page
  &__text
    font-family 'opensans'
    color $cDarkBlue
    font-weight: 400
    line-height 1.7
    padding s($paddingBloc) 0
    width 75%
    margin 0 auto


.cta-news
  padding-top s(50,16)
  text-align center
  padding-bottom s(200,16)
  margin  0 auto
  &__background
    background-color $cLightGrey
    margin-bottom s(-165)

.cta-about
  padding-top s(50,16)
  text-align center
  margin-bottom s(50,16)
  &__background
    background-color $cWhite

.cta-compet
  &__background
    background-color $cLightGrey
    padding-top s(50,16)
    padding-bottom s(200,16)
    margin-bottom s(-165)
  &__bloc
    display block
  &__container
    padding-top s(50)
  &__button
    text-align center
    margin-top s(35)

.cta-training
  &__background
    background-color $cLightGrey
    padding-top s(50,16)
    padding-bottom s(200,16)
    margin-bottom s(-165)
  &__button
    text-align center
    margin-top s(50)
  &__container
    display flex
    flex-direction row
    justify-content center
    margin-top s(50)
  &__single
    margin-bottom 0
    &:last-child
      margin-right 0

//MEDIA QUERIES

//1300PX
@media screen and (max-width:1300px)
  .cta-training
    padding s(50) s(20) s(200)
  .cta-about
    padding s(50) s(20) 0

//1024PX
@media screen and (max-width:1024px)
  .cta-training
    &__container
      flex-direction column
    &__single
     width 100%
    &__single + &__single
      margin-top s(30)

//768PX
@media screen and (max-width:768px)
  .cta-page
    &__text
      width 100%

//450PX
@media screen and (max-width:450px)
  .cta-page
    &__text
      font-size s(14)

