.footer
  position relative
  overflow hidden
  color $cWhite
  font-family 'opensans'
  &__bloc-container
    position relative
    z-index 30
    padding s(182,16) 0 0
  &__container
    display flex
    flex-direction row
    justify-content space-between
    padding-bottom s(50,16)
  &__bg
    position absolute
    top 0
    bottom 0
    right 0
    left 0
    width 100%
    height 100%
    background-color $cOrange
    transform skewY(-5deg)
    transform-origin top right
  &__title
    font-size s(30,16)
    font-family 'montserrat'
    font-weight 700
    margin-bottom s(30,30)
    &:after
      content ''
      display block
      background-color $cWhite
      width s(30,30)
      height s(2,30)
  &__contact-item
    text-transform: uppercase
    font-weight: 700
    line-height 2
    & span
      text-transform lowercase
      font-weight: 400
  &__copyright
    text-align center
    border-top 1px solid $cWhite
    padding s(20,16) 0
    & a
      font-weight:700
  &__results-item
    line-height 2
  &__results-link
    position relative
    display inline-block
    word-wrap break-word
    &:before
      content ''
      position absolute
      bottom 0
      right 50%
      left 0
      top 0
      height 2px
      background-color $cWhite
      transform scaleX(0)
      transform-origin bottom left
      transition transform .3s ease-in-out
    &:after
      content ''
      position absolute
      bottom 0
      right 0
      left 50%
      height 2px
      background-color $cWhite
      transform scaleX(0)
      transform-origin bottom right
      transition transform .3s ease-in-out
    &:hover
      &:before
        transform scaleX(1)
      &:after
        transform scaleX(1)
  &__social
    display flex
    &--facebook
      animation 1s both ease-in-out
      &:hover
        animation-name bounce
      &:before
        icon('facebook')
        font-size s(30,16)
    &--instagram
      animation 1s both ease-in-out
      &:hover
        animation-name bounce
      &:before
        icon('instagram')
        font-size s(30,16)
  &__social-list
    margin-right s(10,16)

@keyframes bounce {
  0%, 100%, 20%, 50%, 80% {
    transform: translateY(0)
  }
  40% {
    transform: translateY(-5px)
  }
  60% {
    transform: translateY(-10px)
  }
}


//MEDIA QUERIES

//1300PX
@media screen and (max-width:1300px)
  .footer
    &__container
      padding 0 s(20) s(50)

//1024PX
@media screen and (max-width:1024px)
  .footer
    &__bloc-container
      padding s(135,16) 0 0

//900PX
@media screen and (max-width:900px)
  .footer
    &__container
      flex-direction column
      align-items center
      text-align center
    &__title
      &:after
        left 0
        right 0
        margin 0 auto
    &__bloc + &__bloc
      margin-top s(30)
    &__bloc-container
      padding s(115,16) 0 0
    &__social
      justify-content: center

//450PX
@media screen and (max-width:450px)
  .footer
    &__title
      font-size s(25)
    &__contact-item
      font-size s(14)
    &__results-link
      font-size s(14)
    &__copyright
      & span
        font-size s(14)
    &__bloc-container
      padding s(90,16) 0 0




