.load-more
  &__container
    text-align center
    font-family 'opensans'
    color $cWhite
    font-weight 700
    background-color $cDarkBlue
    width 27.5%
    margin 0 auto s(50)
    padding s(15) 0
    border-radius 10px


//MEDIA QUERIES

//1024PX
@media screen and (max-width: 1024px)
  .load-more
    &__container
      width 47.5%

//768PX
@media screen and (max-width: 768px)
  .load-more
    &__container
      width 60%

//450PX
@media screen and (max-width: 450px)
  .load-more
    &__container
      width 75%

//400PX
@media screen and (max-width: 400px)
  .load-more
    &__container
      width 90%