.nav
  &__container
    display flex
    flex-direction row
    justify-content space-between
    align-items center
    margin-top s(50)
  &__menu
    display inline-block
    position relative
    list-style none
    font-family 'opensans'
    color $cWhite
    margin 0
    padding 0
    z-index 15
  &__item
    list-style none
    display inline-block
    padding 0
    margin 0
  &__item > a
    position relative
    display inline-block
    padding 0.5em 1em
    margin 0 0 -1px 0
    border 1px solid transparent
  &__item > a:focus,
  &__item > a:hover
    border 1px solid #dedede
  &__sub-nav
    position absolute
    display none
    top 2.2em
    margin-top -1px
    padding 0.5em 1em
    background-color $cWhite
    border-radius 10px
    &.open
      display: block
    & ul
      display inline-block
      vertical-align top
      margin 0 1em 0 0
      padding 0
    & li
      display block
      list-style-type none
      margin 0
      padding 0
      color $cDarkBlue




