.record-intro
  padding s(50) s(20)
  &__table
    margin-top s(30)
    font-family 'opensans'
    color: $cBlue
    width 100%
  &__table-title
    font-weight: 700
    font-size s(18)
    text-align center
    padding: s(10,18) s(20,18)
    &:after
      icon('arrow')
      display inline-block
      font-size s(7)
      margin-left 5px
      position relative
      top s(-2)
  &__margin
    margin-bottom s(20,25)

.tablesorter-header-inner
  display inline-block