.switcher
  font-family 'opensans'
  color $cDarkBlue
  padding-top s($marginTitle,16)
  &__form
    display flex
    flex-flow row wrap
    justify-content space-between
    align-items center
  &__container
    display flex
    flex-flow row wrap
  &__label
    font-size s(18,16)
    font-weight: 600
    display block
  &__select
    border-radius 10px
    padding s(12,14) s(62,14) s(12,14) s(20,14)
    background-color: $cWhite
    font-size s(14)
    color: $cBlue
    border: none
    appearance: button
    outline: none
    overflow-y hidden
    background-image none
    & option
      padding 30px
      display block
      &:hover
        background-color $cBlue
  &__bloc + &__bloc
    margin-left s(50,16)
  &__result
    font-family 'montserrat'
    font-size s(25,16)
    margin-top s($marginTitle,25)
    color $cDarkBlue
    font-weight 700
  &__select-box
    position: relative
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    &:before
      icon('arrow')
      position: absolute
      top: 0
      right: 0
      height: 100%
      font-size s(8)
      text-align: center
      color: $cWhite
      padding 0 s(15,8)
      background-color: $cDarkBlue
      pointer-events: none
      display: flex
      flex-direction: column
      justify-content: center
      border-radius: 0 10px 10px 0
  &__button
    position relative
    top s(18)

//MEDIA QUERIES

//1300PX
@media screen and (max-width:1300px)
  .switcher
    padding s(50) s(20) 0
    &__result
      padding 0 s(20,25)

//900PX
@media screen and (max-width:900px)
  .switcher
    &__bloc
      width 27.5%
    &__select
      width 100%

//768PX
@media screen and (max-width:768px)
  .switcher
    &__result
      font-size s(20,16)
      text-align center
    &__form
      flex-direction column
    &__container
      flex-direction column
    &__bloc
      width 100%
    &__container
      width 100%
    &__bloc + &__bloc
      margin-left 0

//450PX
@media screen and (max-width:450px)
  .switcher
    &__result
      font-size s(18,16)


