.switcher
  font-family 'opensans'
  color $cDarkBlue
  padding-top s($marginTitle,16)
  &__form
    display flex
    flex-direction row
    justify-content space-between
    align-items center
  &__container
    display flex
    flex-direction row
  &__label
    font-size s(18,16)
    font-weight: 600
    display block
    margin-bottom s(10,18)
  &__select
    border-radius 10px
    padding s(10,16) s(20,16)
  &__bloc + &__bloc
    margin-left s(50,16)
  &__result
    font-family 'montserrat'
    font-size s(25,16)
    margin-top s($marginTitle,25)
    color $cDarkBlue
    font-weight 700
