.form-success
  background-color $cGreen
  color $cWhite
  border-radius 10px
  padding s(10) s(40)
  font-weight 600
  margin-top  s(30)
  display inline-block

.form-error
  background-color $cPinterest
  color $cWhite
  border-radius 10px
  padding s(10) s(40)
  font-weight 600
  display inline-block
  margin-top s(30)