.home-athletes
  padding s($paddingContainer,16) 0
  text-align center
  &__container
    display flex
    flex-flow row wrap
    justify-content space-between
    align-items center
    margin s($marginTitle,16) 0 0
  &__bloc
    position relative
    margin-bottom s(50,16)
  &__figure
    position relative
    &:before
      content ''
      display block
      position absolute
      top 0
      right 0
      left 0
      bottom 0
      background-color alpha($cBlue,0.5)
      border-radius 10px
    & img
      border-radius 10px
      display block
  &__infos
    position absolute
    bottom 10%
    left 0
    color $cWhite
    text-align left
    z-index: 20
  &__infos-title
    font-family 'montserrat'
    font-size s($mediumTitle,16)
    font-weight: 600
    line-height 1.3
    padding-left s($paddingBloc,$mediumTitle)
    margin-bottom s(20,$mediumTitle)
    & span
      text-transform: uppercase
      display block
  &__disciplines
    font-family 'opensans'
    font-size s(18,16)
    font-style: italic
    font-weight: 300
    background-color $cDarkOrange
    padding s(10,18) s(30,18)
    border-radius 0 10px 10px 0
  &__link
    position absolute
    top 0
    left 0
    right 0
    bottom 0
    width 100%
    height 100%
    display block
    transition .3s 0s ease-in-out
    text-align center
    &:hover
      background-color alpha($cBlue,0.8)
      border-radius 10px
      transition .3s ease-in-out
    &:before
      icon('add')
      color $cWhite
      font-size s(25,16)
      position absolute
      top: 50%
      opacity 0
      transform translateY(-30px)
      transition .3s ease-in-out


.home-athletes__link:hover.home-athletes__link:before
  transition .3s ease-in-out
  transform translateY(0px)
  opacity 1

.home-athletes__link:hover.home-athletes__figure:before
  transition .3s ease-in-out


