.news-home
  background-color $cLightGrey
  margin s(-150,16) 0 s(-285,16)
  padding s(220,16) 0 s(186,16)
  text-align center
  &__margin
    margin-bottom s(150,16)
  &__container
    margin s($marginTitle,16) 0
    display flex
    flex-direction row
    justify-content space-between
    width 100%
  &__bloc
    font-family 'opensans'
    width 47.5%
    position relative
  &__link
    position absolute
    top 0
    left 0
    right 0
    bottom 0
    width 100%
    height 100%
    display block
  &__figure
    position relative
    &:before
      content ''
      display block
      position absolute
      top 0
      right 0
      left 0
      bottom 0
      background-color alpha($cBlue,0)
      border-radius 10px 10px 0 0
      transition .3s ease-in-out
  &__bloc-figure
    &:before
      icon('add')
      color $cWhite
      position absolute
      bottom 0
      top 50%
      font-size s(25,16)
      transform translateY(-30px)
      transition .3s ease-in-out
      opacity 0
    & img
      display block
      width 100%
      border-radius 10px 10px 0 0
      &:before
        icon ('add')
        color $cWhite
        position absolute
        top 50%
  &__date
    position absolute
    top: 0
    right 0
    color $cWhite
    font-weight: 300
    font-style italic
    background-color $cDarkOrange
    padding s(10,16) s(20,16)
    border-radius 0 10px 0 0
  &__sub-bloc
    padding s($paddingBloc,16)
    background-color $cWhite
    border-radius 0 0 10px 10px
    color $cDarkBlue
    text-align left
  &__author
    display flex
    flex-direction row
    align-items center
    margin-bottom s(20,16)
  &__author-name
    font-family 'montserrat'
    font-weight: 400
    & span
      font-weight: 700
  &__author-figure
    & img
      border-radius 50%
      margin-right s(10,16)
  &__title
    font-family 'montserrat'
    font-size s(25,16)
    font-weight: 700
    margin-bottom s(30,25)
  &__text
    line-height 1.6
    margin-bottom s(30,16)
  &__comments
    font-weight: 700
    vertical-align top
    &:before
      icon('message')
      color $cOrange
      font-size s(18,16)
      margin-right s(10,18)


.news-home__bloc:hover .news-home__bloc-figure:before
  transition .3s ease-in-out
  transform translateY(0px)
  opacity 1

.news-home__bloc:hover .news-home__figure:before
  transition .3s ease-in-out
  background-color alpha($cBlue,0.5)

