.trainee-home
  background-color $cOrange
  padding s(50,16) 0 0
  transform skewY(-5deg)
  position relative
  top -83px
  z-index 30
  &__container
    display flex
    flex-direction row
    justify-content space-between
    width 100%
    transform skewY(5deg)
    position relative
    top 50px
  &__text
    color $cWhite
    line-height 1.6
    font-weight: 400
    font-family 'opensans'
    margin s(30,16) 0
  &__bloc
    width 50%
    margin-right 10%