$cWhite = #FFF
$cBlack = #252E42

$cLightGrey = #F4F4F4
$cLightGreyTwo = #ced6e0
$cLightGreyThree = #ced6e0
$cGrey = #95A5A6
$cBlue = #34495E
$cDarkBlue = #2C3E50
$cOrange = #FA9926
$cDarkOrange = #FE712A
$cGreen = #2ecc71

/* Social Colors */
$cFacebook = #3b5998
$cTwitter = #55acee
$cPinterest = #cb2027
$cBehance = #1769ff
$cDribble = #ea4c89
$cYoutube = #cd201f
$cVimeo = #1ab7ea
$cLinkedin = #0077B5
$cGithub = #2F2F2F
$cInstagram = #c32aa3


