$ws_icon-list =       "stars"  "\e900",
                      "calendar"  "\e901",
                      "send"  "\e902",
                      "facebook"  "\e903",
                      "lancer"  "\e904",
                      "course"  "\e905",
                      "attachment"  "\e906",
                      "time"  "\e907",
                      "phone"  "\e908",
                      "user"  "\e909",
                      "arrow"  "\e910",
                      "doubleArrow"  "\e911",
                      "search"  "\e912",
                      "croix"  "\e913",
                      "message"  "\e914",
                      "arrowTwo"  "\e915",
                      "refresh"  "\e916",
                      "jump"  "\e917",
                      "instagram"  "\e90a",
                      "add"  "\e90b",
                      "location"  "\e90c",
                      "arrowRight"  "\e90d",
                      "document"  "\e90e",
                      "trophy"  "\e90f",


