$ws_icon-list =       "add"  "\e900",
                      "location"  "\e901",
                      "arrowRight"  "\e902",
                      "document"  "\e903",
                      "trophy"  "\e904",
                      "arrow"  "\e905",
                      "doubleArrow"  "\e906",
                      "search"  "\e907",
                      "croix"  "\e908",
                      "message"  "\e909",
                      "arrowTwo"  "\e90a"


