/** Text Sizes **/
$mainTitle = 40;
$mediumTitle = 30;
$sizeButton = 16;
$fontBase = 16;

/** Margin, Padding **/
$marginTitle = 50;
$paddingLargeButton = 40;
$paddingSmallButton = 15;
$paddingBloc = 30;
$paddingContainer = 50;


