/* ******************
 * Base
   ******************* */
@import 'base/base.styl'

/* ******************
 * Settings
   ******************* */
@import 'settings/global.styl'
@import 'settings/easing.styl'
@import 'settings/icons.styl'
@import 'settings/colors.styl'
@import 'settings/fonts.styl'
@import 'settings/sizes.styl'

/* *****************
 * Tools
   ******************* */
@import 'tools/sizing.styl'
@import 'tools/pseudoElements.styl'
@import 'tools/icons.styl'
@import 'tools/kaduk.styl'
@import 'tools/gridz.styl'
@import 'tools/sprite.styl'
@import "tools/utils.styl"
@import 'tools/mixins/utilities.styl'

/* ******************
 * Generic
   ******************* */
@import 'generic/reset_meyer.styl'
@import 'generic/reset_boxsizing.styl'
@import 'generic/reset_button.styl'

/* ******************
 * Components
   ******************* */
/*****HOME*****/
@import 'components/home/header-home.styl'
@import 'components/home/athletes-home.styl'
@import 'components/home/compet-home.styl'
@import 'components/home/trainee-home.styl'
@import 'components/home/news-home.styl'

/*****ABOUT*****/
@import 'components/about/about-intro.styl'
@import 'components/about/about-record.styl'
@import 'components/about/about-end.styl'

/*****CONTACT*****/
@import 'components/contact/contact-intro.styl'
@import "components/contact/contact-person.styl"

/*****SINGLE*****/

/*****ATHLETE*****/
@import "components/single/athlete/athlete-intro.styl"
@import "components/single/athlete/athlete-record.styl"
@import "components/single/athlete/athlete-gallery.styl"
@import "components/single/athlete/athlete-trophies.styl"

/*****TRAINER*****/
@import "components/single/trainer/trainer-athlete.styl"

/*****TRAINING*****/
@import "components/single/training/listing-training.styl"

/*****ARTICLE*****/
@import "components/single/article/intro-article.styl"
@import "components/single/article/content-article.styl"
@import "components/single/article/comment-article.styl"

/*****EQUIPMENT*****/
@import "components/single/equipment/listing-equipment.styl"

/*****COMPETITIONS*****/
@import "components/single/competition/listing-competitions.styl"
@import "components/single/competition/competition-intro.styl"
@import "components/single/competition/competition-infos.styl"
@import "components/single/competition/competition-horaires.styl"
@import "components/single/competition/competition-resultats.styl"
@import "components/single/competition/competition-gallery.styl"

/*****INTERNSHIP*****/
@import "components/single/internship/listing-internship.styl"
@import "components/single/internship/intro-internship.styl"
@import "components/single/internship/form-internship.styl"


@import 'components/navigation.styl'
@import 'components/button.styl'
@import 'components/title.styl'
@import 'components/wrap.styl'
@import "components/footer.styl"
@import "components/intro.styl"
@import "components/switcher.styl"
@import "components/breadcrumb.styl"
@import 'components/cta-page.styl'
@import "components/load-more.styl"
@import "components/validation-form.styl"
@import "components/record.styl"

