.single-stage
  background-color $cLightGrey
  margin s($marginTitle) 0 0
  font-family 'opensans'
  color $cDarkBlue
  &__container
    padding s($marginTitle) 0
  &__date
    text-align center
    margin s(30,16) 0 s($marginTitle)
    &:before
      icon('time')
      color $cDarkOrange
      font-size s(20,16)
      padding-bottom s(5,20)
  &__datetime
    font-size s(18,16)
    line-height 1.6
    font-weight 300
    & strong
      font-weight 300
    & time
      font-weight 700
  &__content
    text-align center
    margin s(30,16) auto 0
    width 50%
    line-height 1.6

//MEDIA QUERIES

//1300PX
@media screen and (max-width:1300px)
  .single-stage
    &__container
      padding s(50) s(20)

//1024PX
@media screen and (max-width:1024px)
  .single-stage
    &__content
      width 70%

//768PX
@media screen and (max-width:768px)
  .single-stage
    &__content
      width 100%

//450PX
@media screen and (max-width:450px)
  .single-stage
    &__datetime
      font-size s(16)
    &__content
      font-size s(14)

