html
  overflow-x: hidden;

html *
  box-sizing border-box
  font-family: 'opensans'

a
  text-decoration none
  color inherit

form input
  appearance none
  border 0
  outline none

img
  max-width 100%
  height auto

.hidden
  position absolute
  top -9999px
  left -9999px

.background-home
  background url('/img/background-home.jpg') no-repeat top center / cover
  padding-bottom 150px

.background
  background-color $cLightGrey

.empty
  font-weight 600
  color $cDarkBlue
  font-style italic



