.contact-intro
  padding  s($marginTitle) 0
  &__text
    font-family 'opensans'
    color $cDarkBlue
    margin s(30) auto 0
    line-height 1.6
    width 50%
    text-align center

//MEDIA QUERIES

//1300PX
@media screen and (max-width:1300px)
  .contact-intro
    padding s(50) s(20)

//1024PX
@media screen and (max-width:1024px)
  .contact-intro
    &__text
      width 75%

//768PX
@media screen and (max-width:768px)
  .contact-intro
    &__text
      width 100%

//450PX
@media screen and (max-width:450px)
  .contact-intro
    &__text
      font-size s(14)

