.contact-person
  padding-top s(50)
  &__container
    display flex
    flex-flow row nowrap
    justify-content space-between
    padding-bottom s($marginTitle)
    font-family 'opensans'
  &__bloc
    background-color $cWhite
    text-align center
    padding s($paddingBloc)
    border-radius 10px
    position relative
    width 23.5%
  &__figure
    width s(100)
    height s(100)
    border-radius 50%
    overflow hidden
    margin 0 auto
    position absolute
    left 0
    right 0
    top s(-50)
    & img
      display inline
      margin 0 auto
      height 100%
      width auto
  &__title
    font-family 'montserrat'
    color $cDarkBlue
    font-weight 600
    font-size s(25)
    margin s(40,25) 0 s(20,25)
  &__item
    color $cDarkBlue
    line-height 1.6
    margin-bottom s(10)
    word-break break-word
    &--place
      &:before
        icon('location')
        color $cOrange
        margin-right s(10)
    &--email
      &:before
        icon('user')
        color $cOrange
        margin-right s(10)
    &--tel
      &:before
        icon('phone')
        color $cOrange
        margin-right s(10)

//MEDIA QUERIES

//1300PX
@media screen and (max-width:1300px)
  .contact-person
    padding s(50) s(20) 0

//1024PX
@media screen and (max-width:1024px)
  .contact-person
    &__container
      flex-flow row wrap
      padding-bottom 0
    &__bloc
      width 47.5%
      margin-bottom s(80)

//768PX
@media screen and (max-width:768px)
  .contact-person
    &__container
      flex-flow column wrap
      padding-bottom 0
    &__bloc
      width 100%

//450PX
@media screen and (max-width:450px)
  .contact-person
    &__title
      font-size s(22)
    &__item
      font-size s(14)

