.athlete-trainer
  &__container
    padding s(50) 0
  &__background
    background-color $cLightGrey
  &__bloc
    display flex
    flex-direction row
    justify-content center
    align-items center
    margin-top s(30)
  &__athlete
    display flex
    flex-direction column
    justify-content center
    align-items center
    align-items center
  &__athlete-link
    margin-right s(30)
    &:last-child
      margin-right 0
  &__athlete-figure
    width s(150)
    height s(150)
    position relative
    overflow hidden
    border-radius: 50%
    & img
      display inline-block
      margin 0 auto
      height auto
      width 100%
  &__athlete-name
    font-family 'montserrat'
    font-size s(16,16)
    color $cDarkBlue
    font-weight 500
    font-style italic
    margin-top s(15,16)
    opacity 0
    transform translateY(-10px)
    transition .3s ease-in-out

.athlete-trainer__athlete-link:hover .athlete-trainer__athlete-name
  opacity 1
  transform translateY(0px)
  transition .3s ease-in-out
  color $cDarkOrange

//MEDIA QUERIES

//1300PX
@media screen and (max-width: 1300px)
  .athlete-trainer
    &__container
      padding s(50) s(20) 

//1024PX
@media screen and (max-width: 1024px)
  .athlete-trainer
    &__athlete-name
      opacity 1
      transform none
      color $cDarkBlue

//768PX
@media screen and (max-width: 768px)
  .athlete-trainer
    &__athlete-figure
      width s(100)
      height s(100)

//600PX
@media screen and (max-width: 600px)
  .athlete-trainer
    &__bloc
      flex-direction column
    &__athlete-figure
      width s(150)
      height s(150)
    &__athlete-link
      margin-right 0
      margin-bottom s(30)
      &:last-child
        margin-bottom 0